<div>
    <button ng-click="startGame()">Start Game </button>
    <p>Game Phase: {{gamePhase}}</p>
</div>



<div class="container">
    <div class="starter-template">
        <p class="lead">Welcome, you can invite your friends by sharing this URL:&nbsp;</p>
        <div class="container">
            <h2 class="playerName">Dealer</h2>
            <div class="row" >
                <img ng-repeat="card in dealer.hands[0].cards" ng-src="images/cards/{{card.imageName}}.svg" class="card">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" ng-repeat="player in players">
        <div class="col-md-4" style="text-align:center">
            <h3>{{player.name}}</h3>

            <form style="text-align: left" ng-show="gamePhase === 'stakeRound'">
                <div class="form-group">
                    <span style="float:right">Time: 10s</span>
                    <label>In bank:</label>
                    <input class="form-control" placeholder="{{playersIndexedByName[playerName].bank}}" disabled>
                </div>
                <div class="form-group">
                    <label>Staking</label>
                    <input class="form-control" placeholder="{{playersIndexedByName[playerName].hands[0].stake}}" disabled>
                </div>
                <div class="form-group">
                    <label>Increment Stake:</label>
                    <br>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="incrementStake(100)">+100</button>
                        <button type="button" class="btn btn-default" ng-click="incrementStake(500)">+500</button>
                        <button type="button" class="btn btn-default" ng-click="incrementStake(1000)">+1000</button>
                    </div>
                </div>
            </form>

            <div ng-show="gamePhase !== 'stakeRound'">
                <div class="row handHolder">
                    <div ng-repeat="hand in player.hands">
                        <div class="hand active">
                            <div class="clearfix">
                                <span style="float:left">Stake: {{hand.stake}}</span>
                                <span style="float:right">Time: 10s</span>
                            </div>
                            <div class="cardsHolder">
                                <img ng-repeat="card in hand.cards" ng-src="images/cards/{{card.imageName}}.svg" class="playerCard"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="handControls">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" ng-click="hit()">Hit</button>
                        <button type="button" class="btn btn-default" ng-click="double()">Double</button>
                        <button type="button" class="btn btn-default" ng-click="split()">Split</button>
                        <button type="button" class="btn btn-default" ng-click="stand()">Stand</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<!--


<div>
    <div class="row">


        <div class="col-md-3 col-md-offset-1" ng-show="gamePhase === 'stakeRound'">
            <h2>Make your stake!</h2>
            <button class="btn btn-success" ng-click="incrementStake(10)">10</button>
            <button class="btn btn-success" ng-click="incrementStake(100)">100</button>
            <button class="btn btn-success" ng-click="incrementStake(500)">500</button>
            <button class="btn btn-succces" ng-click="incrementStake(1000)">1000</button>
        </div>
        <div class="col-md-4">
            Initial Stake: {{playersIndexedByName[playerName].hands[0].stake}} Bank: {{playersIndexedByName[playerName].bank}}
        </div>
        <div class="col-md-3 col-md-offset-9 error" ng-show="timer.active">
            {{timer.time}} seconds
        </div>

    </div>


</div>


<div class="board" ng-hide="gamePhase === 'stakeRound'">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="dealerName">Dealer</h1>
            <div class="row">
                <div class="col-xs-2" ng-repeat="card in dealer.hands[0].cards"><img class="card" ng-src="images/cards/{{card.imageName}}.svg"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-1 playerArea" ng-repeat="player in players">
            <h1 class="dealerName">{{player.name}}</h1>

            <div ng-repeat="hand in player.hands">
                <h4>Score: {{hand.count}}</h4>
                <h4>Stake: {{hand.stake}}</h4>
                <h3 ng-show="gamePhase === 'gameOver'"> {{hand.gameOutCome}} </h3>
                <div class="row">
                    <div class="col-xs-3" ng-repeat="card in hand.cards"><img class="card" ng-src="images/cards/{{card.imageName}}.svg"></div>
                </div>
            </div>


            <div class="row actionBar" ng-show="playersIndexedByName[playerName].turn && player.name === playerName">
                <div>
                    <button class="btn btn-success" ng-click="hit()">Hit</button>
                    <button class="btn btn-danger" ng-click="stand()">Stand</button>
                    <button class="btn btn-primary" ng-click="double()">Double</button>
                    <button class="btn btn-warning" ng-click="split()">Split</button>
                </div>
            </div>
        </div>
    </div>
</div>

-->
