<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="dealerName">Dealer</h1>
        <div class="row">
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_clubs.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_hearts.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_clubs.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_clubs.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_clubs.svg"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-3 col-md-offset-1 playerArea">
        <h1 class="dealerName">Ricardo</h1>
        <div class="row">
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
        </div>
        <div class="row actionBar">
            <button class="btn btn-success">Hit</button>
            <button class="btn btn-danger">Stand</button>
            <button class="btn btn-primary">Double</button>
            <button class="btn btn-warning">Split</button>
        </div>


    </div>
    <div class="col-md-3 playerArea">
        <h1 class="dealerName">Diego</h1>
        <div class="row">
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
        </div>
        <div class="row actionBar">
            <button class="btn btn-success">Hit</button>
            <button class="btn btn-danger">Stand</button>
            <button class="btn btn-primary">Double</button>
            <button class="btn btn-warning">Split</button>
        </div>
    </div>
    <div class="col-md-3 playerArea">
        <h1 class="dealerName">Daniel</h1>
        <div class="row">
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
            <div class="col-xs-2"><img class="card" src="images/cards/2_of_spades.svg"></div>
        </div>
        <div class="row actionBar">
            <button class="btn btn-success">Hit</button>
            <button class="btn btn-danger">Stand</button>
            <button class="btn btn-primary">Double</button>
            <button class="btn btn-warning">Split</button>
        </div>
    </div>


</div>